<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevour="{{newDevoured}}">
		{{#if newDevoured}}Eat me!{{else}}I'm already eaten!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
