<li>
	{{burger_name}}

	<button class="change-sleep" data-id="{{id}}" data-newstatus="{{status}}">
		{{#if status}}ALREADY EATEN!{{else}}EAT ME!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
