<li>
	<div class="burger-item">
		<p class="burger-name">{{burger_name}}</p>

		<button class="change-sleep btn-primary" data-id="{{id}}" data-newstatus="{{status}}">
			{{#if status}}ALREADY EATEN!{{else}}EAT ME!{{/if}}
		</button>

		<button class="delete-burger btn-primary" data-id="{{this.id}}">DELETE!</button>
	</div>
	
</li>
